body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 55vh;
  margin: 0;
}

.center-div {
  width: 200px;
  height: 200px;
  background-color: lightblue;
  text-align: center;
  line-height: 200px;
}
